In [1]:
import pandas as pd
import sqlite3 as sql
import numpy as np

In [2]:
musicbox_conn = sql.connect("../data/musicbox.sqlite")
musicbox_conn.text_factory = str

In [3]:
pd.read_sql("SELECT * FROM sqlite_master", musicbox_conn)

,type,name,tbl_name,rootpage,sql
0,table,Down,Down,3,"CREATE TABLE Down(\n uid INT,\n device TEXT,..."
1,table,Play,Play,4,"CREATE TABLE Play(\n uid INT,\n device TEXT,..."
2,index,song_id_index,Play,5,CREATE INDEX song_id_index ON Play (song_id)
3,index,songid_songlength_idx,Play,6,CREATE INDEX songid_songlength_idx ON Play (so...
4,table,song_info,song_info,7,"CREATE TABLE song_info(\n song_id REAL,\n so..."

## Download data

In [4]:
%%time
pd.read_sql("SELECT COUNT(*) FROM Down", musicbox_conn)

CPU times: user 71.7 ms, sys: 337 ms, total: 409 ms
Wall time: 1.16 s

   COUNT(*)
0   7737325

In [5]:
pd.read_sql("SELECT COUNT(DISTINCT song_id) FROM Down", musicbox_conn)

   COUNT(DISTINCT song_id)
0                   739680

In [6]:
pd.read_sql("SELECT * FROM Down LIMIT 10", musicbox_conn, parse_dates=['date'])

,uid,device,song_id,song_name,singer,paid_flag,date
0,168019810,ar,442554.0,小酒窝,林俊杰&蔡卓妍,0,2017-03-30
1,168019810,ar,6334611.0,社会摇,萧全,0,2017-03-30
2,168019810,ar,9867382.0,台阶,武艺,0,2017-03-30
3,168019810,ar,6660691.0,一次就好-(电影《夏洛特烦恼》暖水曲),杨宗纬,0,2017-03-30
4,168019810,ar,157606.0,一路上有你,张学友,0,2017-03-30
5,168019810,ar,3372481.0,十年 (OT：明年今日),陈奕迅,0,2017-03-30
6,168019810,ar,3216525.0,你不知道的事(Live版),王力宏,0,2017-03-30
7,168019810,ar,6427523.0,Victory,Two Steps From Hell,0,2017-03-30
8,168019810,ar,6538686.0,野子,流浪者,0,2017-03-30
9,168019810,ar,9327383.0,なんでもないや-[没什么大不了](Movie Ver.)-(动画电影《你的名字。》片尾曲),RADWIMPS,0,2017-03-30

In [7]:
pd.read_sql("SELECT paid_flag, COUNT(*) FROM Down GROUP BY paid_flag", musicbox_conn)

   paid_flag  COUNT(*)
0          0   7737325

In [8]:
%%time
pd.read_sql("SELECT device, COUNT(*) FROM Down GROUP BY device", musicbox_conn)

CPU times: user 8.26 s, sys: 280 ms, total: 8.54 s
Wall time: 8.62 s

  device  COUNT(*)
0     ar   6604784
1     ip   1132541

## Play data

In [9]:
%%time
pd.read_sql("SELECT COUNT(*) FROM Play", musicbox_conn)

CPU times: user 1.92 s, sys: 10 s, total: 11.9 s
Wall time: 34.6 s

    COUNT(*)
0  164487071

In [10]:
pd.read_sql("SELECT * FROM Play LIMIT 10", musicbox_conn, parse_dates=['date'])

,uid,device,song_id,song_type,song_name,singer,play_time,song_length,paid_flag,date
0,154422682,ar,20870993.0,1.0,用情,狮子合唱团,22013.0,332.0,0,2017-03-01
1,154421907,ip,6560858.0,0.0,表情不要悲伤,伯贤&D.O.&张艺兴&朴灿烈,96.0,161.0,0,2017-03-01
2,154422630,ar,3385963.0,1.0,"Baby, Don't Cry(人鱼的眼泪)",EXO,235868.0,235.0,0,2017-03-01
3,154410267,ar,6777172.0,0.0,3D-环绕音律1(3D Mix),McTaiM,164.0,237.0,0,2017-03-01
4,154407793,ar,19472465.0,0.0,刚好遇见你,曲肖冰,24.0,201.0,0,2017-03-01
5,154422626,ar,3198036.0,1.0,只唱给你听,SpeXial,275249.0,0.0,0,2017-03-01
6,154422681,ar,891952.0,0.0,老男孩-(电影《老男孩》主题曲),筷子兄弟,300.0,300.0,0,2017-03-01
7,154408091,ar,4623962.0,0.0,预谋 许佳慧,网络歌手,243.0,243.0,0,2017-03-01
8,154422571,ar,703750.0,0.0,爸爸妈妈听我说,儿童歌曲,207.0,207.0,0,2017-03-01
9,154417311,ar,6491500.0,0.0,Stereo Love,Edward Maya,56.0,184.0,0,2017-03-01

In [9]:
pd.read_sql("SELECT COUNT(DISTINCT song_id) FROM Play", musicbox_conn)

   COUNT(DISTINCT song_id)
0                  1696460

In [10]:
pd.read_sql("SELECT paid_flag, COUNT(*) FROM Play GROUP BY paid_flag", musicbox_conn)

   paid_flag   COUNT(*)
0          0  164487071

In [11]:
%%time
pd.read_sql("SELECT device, COUNT(*) FROM Play GROUP BY device", musicbox_conn)

CPU times: user 5min 11s, sys: 16 s, total: 5min 27s
Wall time: 5min 52s

  device   COUNT(*)
0   None          1
1     ar  141807858
2     ip   22677885
3     mc       1206
4     wp        121

In [6]:
%%time
pd.read_sql("SELECT song_type, COUNT(*) FROM Play GROUP BY song_type", musicbox_conn)

CPU times: user 9min 8s, sys: 20.9 s, total: 9min 29s
Wall time: 9min 57s

   song_type   COUNT(*)
0        NaN      94403
1        0.0  141424989
2        1.0   21170010
3        2.0    1691616
4        3.0      23629

In [5]:
tmp = pd.read_sql("SELECT * FROM Play LIMIT 3000000", musicbox_conn)

In [6]:
tmp.iloc[[tmp.play_time.argmax(), tmp.play_time.argmin(), tmp.song_length.argmax(), tmp.song_length.argmin()], :]

,uid,device,song_id,song_type,song_name,singer,play_time,song_length,date
116654,1685126,ar,2922185.0,1.0,自作多情,本兮,3.206753e+11,1.000000,2017-03-01
548711,154441309,ip,6253036.0,2.0,一分钱,贝瓦儿歌,-2.336283e-02,114.751667,2017-03-01
2909702,154649347,ar,15797714.0,2.0,CANDY BOY 饭制版,王俊凯,NaN,487765.000000,2017-03-01
5,154422626,ar,3198036.0,1.0,只唱给你听,SpeXial,2.752490e+05,0.000000,2017-03-01

In [47]:
tmp[tmp.song_id == 15797714]

,uid,device,song_id,song_type,song_name,singer,play_time,song_length,date
2909702,154649347,ar,15797714.0,2.0,CANDY BOY 饭制版,王俊凯,NaN,487765.0,2017-03-01

In [74]:
pd.read_sql("SELECT * FROM Play WHERE song_id = 6651913", musicbox_conn)

,uid,device,song_id,song_type,song_name,singer,play_time,song_length,date
0,154412161,ar,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-03-01
1,154415149,ar,6651913.0,0.0,再见只是陌生人,庄心妍,252.0,251.0,2017-03-01
2,38539607,ar,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-03-01
3,154323696,ar,6651913.0,0.0,再见只是陌生人,庄心妍,174.0,251.0,2017-03-01
4,154423609,ar,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-03-01
5,154424057,ar,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-03-01
6,154417891,ip,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-03-01
7,154424113,ar,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-03-01
8,154424036,ar,6651913.0,0.0,再见只是陌生人,庄心妍,1.0,251.0,2017-03-01
9,154416677,ar,6651913.0,0.0,再见只是陌生人,庄心妍,8.0,251.0,2017-03-01
10,154424323,ar,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-03-01
11,154416677,ar,6651913.0,0.0,再见只是陌生人,庄心妍,149.0,251.0,2017-03-01
12,154424508,ar,6651913.0,0.0,再见只是陌生人,庄心妍,252.0,251.0,2017-03-01
13,154424648,ar,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-03-01
14,154419285,ar,6651913.0,0.0,再见只是陌生人,庄心妍,225.0,251.0,2017-03-01
15,154323696,ar,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-03-01
16,154423451,ar,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-03-01
17,154415227,ar,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-03-01
18,154422828,ar,6651913.0,0.0,再见只是陌生人,庄心妍,172.0,251.0,2017-03-01
19,154424865,ar,6651913.0,0.0,再见只是陌生人,庄心妍,252.0,251.0,2017-03-01
20,154424916,ar,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-03-01
21,154422828,ar,6651913.0,0.0,再见只是陌生人,庄心妍,172.0,251.0,2017-03-01
22,154420069,ip,6651913.0,0.0,再见只是陌生人,庄心妍,104.0,251.0,2017-03-01
23,154420069,ip,6651913.0,0.0,再见只是陌生人,庄心妍,1.0,251.0,2017-03-01
24,154420069,ip,6651913.0,0.0,再见只是陌生人,庄心妍,6.0,251.0,2017-03-01
25,154425225,ar,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-03-01
26,154424958,ar,6651913.0,0.0,再见只是陌生人,庄心妍,120.0,251.0,2017-03-01
27,154425467,ar,6651913.0,0.0,再见只是陌生人,庄心妍,252.0,251.0,2017-03-01
28,154425532,ar,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-03-01
29,154425569,ar,6651913.0,1.0,再见只是陌生人,庄心妍,251240.0,0.0,2017-03-01
...,...,...,...,...,...,...,...,...,...
180884,169023059,ar,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-05-12
180885,37025504,ar,6651913.0,0.0,再见只是陌生人,庄心妍,53.0,251.0,2017-05-12
180886,168918383,ar,6651913.0,0.0,再见只是陌生人,庄心妍,4.0,251.0,2017-05-12
180887,168726981,ar,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-05-12
180888,168858739,ar,6651913.0,0.0,再见只是陌生人,庄心妍,250.0,251.0,2017-05-12
180889,1685126,ar,6651913.0,1.0,再见只是陌生人,庄心妍,3945.0,251.0,2017-05-12
180890,169018366,ar,6651913.0,0.0,再见只是陌生人,庄心妍,103.0,251.0,2017-05-12
180891,168973404,ar,6651913.0,0.0,再见只是陌生人,庄心妍,11.0,251.0,2017-05-12
180892,168544476,ar,6651913.0,0.0,再见只是陌生人,庄心妍,0.0,251.0,2017-05-12
180893,168915882,ip,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-05-12
180894,1062806,ar,6651913.0,1.0,再见只是陌生人,庄心妍,251519.0,251.0,2017-05-12
180895,1062806,ar,6651913.0,0.0,再见只是陌生人,庄心妍,231646.0,251.0,2017-05-12
180896,168995846,ar,6651913.0,0.0,再见只是陌生人,庄心妍,1.0,251.0,2017-05-12
180897,1062806,ar,6651913.0,1.0,再见只是陌生人,庄心妍,1033.0,251.0,2017-05-12
180898,168938497,ar,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-05-12
180899,168586397,ip,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-05-12
180900,168776925,ar,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-05-12
180901,1749320,ar,6651913.0,0.0,再见只是陌生人,庄心妍,2.0,251.0,2017-05-12
180902,168811612,ar,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-05-12
180903,168811612,ar,6651913.0,0.0,再见只是陌生人,庄心妍,88.0,251.0,2017-05-12
180904,169004263,ip,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-05-12
180905,169004263,ip,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-05-12
180906,169005696,ar,6651913.0,0.0,再见只是陌生人,庄心妍,124.0,251.0,2017-05-12
180907,168985844,ar,6651913.0,0.0,再见只是陌生人,庄心妍,250.0,251.0,2017-05-12
180908,168944594,ar,6651913.0,0.0,再见只是陌生人,庄心妍,0.0,251.0,2017-05-12
180909,168815955,ar,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,251.0,2017-05-12
180910,168624459,ar,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,0.0,2017-05-12
180911,168923232,ar,6651913.0,0.0,再见只是陌生人,庄心妍,176.0,251.0,2017-05-12
180912,168624459,ar,6651913.0,0.0,再见只是陌生人,庄心妍,250.0,0.0,2017-05-12
180913,168624459,ar,6651913.0,0.0,再见只是陌生人,庄心妍,251.0,0.0,2017-05-12

In [10]:
pd.read_sql("SELECT * FROM Play WHERE song_id = 12632644", musicbox_conn).song_length.mode()

0    206.0
dtype: float64

In [7]:
pd.read_sql("SELECT * FROM Play WHERE song_length > 36000 LIMIT 10 ", musicbox_conn)

,uid,device,song_id,song_type,song_name,singer,play_time,song_length,date
0,154503767,ar,20034944.0,2.0,超美女主播开嗓，声线动人！,小樓一夜听春语,0.0,59331.0,2017-03-01
1,154507856,ar,20034944.0,2.0,超美女主播开嗓，声线动人！,小樓一夜听春语,NaN,59331.0,2017-03-01
2,154476145,ar,12632644.0,2.0,死了都要 · 爱,G.E.M.邓紫棋,NaN,239769.0,2017-03-01
3,154516822,ar,20034944.0,2.0,超美女主播开嗓，声线动人！,小樓一夜听春语,NaN,59331.0,2017-03-01
4,154516822,ar,20034530.0,2.0,我他娘的意大利炮呢！,有盐值的咸鱼,NaN,59331.0,2017-03-01
5,154575526,ar,20034944.0,2.0,超美女主播开嗓，声线动人！,小樓一夜听春语,5.0,42435.0,2017-03-01
6,154584536,ar,20273644.0,2.0,穿山甲这么可爱为什么非要吃它呢?,热门短片,3.0,42435.0,2017-03-01
7,154476145,ar,1118402.0,2.0,涛声依旧,毛宁,NaN,268608.0,2017-03-01
8,154476145,ar,56710.0,2.0,迟来的爱,李茂山,NaN,280064.0,2017-03-01
9,154635768,ar,20034530.0,2.0,我他娘的意大利炮呢！,有盐值的咸鱼,5.0,49795.0,2017-03-01

In [41]:
tmp[tmp.song_length > 60000].head(20)

,uid,device,song_id,song_type,song_name,singer,play_time,song_length,date
222290,154476145,ar,12632644.0,2.0,死了都要 · 爱,G.E.M.邓紫棋,NaN,239769.0,2017-03-01
438375,154476145,ar,1118402.0,2.0,涛声依旧,毛宁,NaN,268608.0,2017-03-01
440202,154476145,ar,56710.0,2.0,迟来的爱,李茂山,NaN,280064.0,2017-03-01
632832,154658786,ar,6648120.0,2.0,咱们屯里人(粤语版)-(电影《夏洛特烦恼》插曲),罗凯楠,NaN,153173.0,2017-03-01
689317,154708151,ar,6408465.0,2.0,单打独斗,沈震轩,NaN,205000.0,2017-03-01
733861,1685126,ar,5372066.0,2.0,克罗地亚狂想曲,Maksim,NaN,220590.0,2017-03-01
740556,1685126,ar,8236193.0,2.0,《非诚勿扰》克罗胸大狂想曲,噗啦噗啦噗,NaN,73259.0,2017-03-01
744174,154709568,ar,9950164.0,2.0,刚好遇见你,李玉刚,NaN,200234.0,2017-03-01
802906,154724240,ar,7172558.0,2.0,未来的进击-(网络剧《超少年密码》主题曲),TFBOYS,NaN,242880.0,2017-03-01
812721,154724240,ar,4070224.0,2.0,魔法城堡{动画电影《洛克王国3,TFBOYS,NaN,267562.0,2017-03-01
814233,154724240,ar,6410531.0,2.0,恋西游-(动画片《梦幻西游2》主题曲),TFBOYS,NaN,264428.0,2017-03-01
877287,41610553,ar,12804809.0,2.0,Single Boy,尚雯婕,NaN,236245.0,2017-03-01
909689,154673139,ar,4590184.0,2.0,朋友别哭,吕方,NaN,269440.0,2017-03-01
909733,154673139,ar,4590184.0,2.0,朋友别哭,吕方,NaN,269440.0,2017-03-01
926841,154673139,ar,150892.0,2.0,悬崖,齐秦,NaN,292386.0,2017-03-01
945461,154701343,ar,3970565.0,2.0,等一会洗澡,Gary&Crush,NaN,250125.0,2017-03-01
966079,154701343,ar,4876839.0,2.0,Body Language,San E&Bumkey,NaN,227184.0,2017-03-01
1033327,154823377,ar,15807836.0,2.0,三生三世-(电视剧《三生三世十里桃花》主题曲),张杰,NaN,133461.0,2017-03-01
1082400,154823377,ar,19827380.0,2.0,回声-(电视剧《那片星空那片海》片尾曲),圈9,NaN,179908.0,2017-03-01
1557140,154476145,ar,56710.0,2.0,迟来的爱,李茂山,NaN,280064.0,2017-03-01

In [21]:
tmp.head(6)

,uid,device,song_id,song_type,song_name,singer,play_time,song_length,date
0,154422682,ar,20870993.0,1.0,用情,狮子合唱团,22013.0,332.0,2017-03-01
1,154421907,ip,6560858.0,0.0,表情不要悲伤,伯贤&D.O.&张艺兴&朴灿烈,96.0,161.0,2017-03-01
2,154422630,ar,3385963.0,1.0,"Baby, Don't Cry(人鱼的眼泪)",EXO,235868.0,235.0,2017-03-01
3,154410267,ar,6777172.0,0.0,3D-环绕音律1(3D Mix),McTaiM,164.0,237.0,2017-03-01
4,154407793,ar,19472465.0,0.0,刚好遇见你,曲肖冰,24.0,201.0,2017-03-01
5,154422626,ar,3198036.0,1.0,只唱给你听,SpeXial,275249.0,0.0,2017-03-01

In [7]:
tmp.describe()

                uid       song_id     song_type     play_time   song_length
count  3.000000e+06  2.990493e+06  2.987466e+06  2.978540e+06  2.990095e+06
mean   1.468349e+08  3.909828e+13  1.214019e-01  1.122449e+05  2.393914e+02
std    3.137105e+07  1.920610e+16  3.658027e-01  1.858077e+08  1.312007e+03
min    0.000000e+00  0.000000e+00  0.000000e+00 -2.336283e-02  0.000000e+00
25%    1.544584e+08  7.066300e+05  0.000000e+00  5.000000e+00  1.320000e+02
50%    1.545542e+08  4.564213e+06  0.000000e+00  6.200000e+01  2.290000e+02
75%    1.546645e+08  7.121887e+06  0.000000e+00  2.140000e+02  2.740000e+02
max    1.548342e+08  1.844674e+19  2.000000e+00  3.206753e+11  4.877650e+05